<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    bootstrap="./tests/bootstrap.php"
    colors="true"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
>
    <testsuites>
        <testsuite name="Assetic Test Suite">
            <directory suffix="Test.php">./tests/Assetic/Test/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/Assetic/</directory>
        </whitelist>
    </filter>

    <php>
        <server name="NODE_PATH" value="./node_modules/"/>
    </php>
</phpunit>
