<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Assetic Test Suite">
            <directory suffix="Test.php">./tests/Assetic/Test/</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- <server name="TWIG_PATH" value="/path/to/twig/lib" /> -->
        <!-- <server name="YUI_COMPRESSOR_PATH" value="/path/to/yuicompressor-2.4.2.jar" /> -->
        <!-- <server name="GOOGLE_CLOSURE_COMPILER_PATH" value="/path/to/google-closure/compiler.jar" /> -->
        <!-- <server name="NODE_BIN" value="/path/to/node" /> -->
        <!-- <server name="NODE_PATH" value="/path/to/node/lib" /> -->
        <!-- <server name="SASS_PATH" value="/path/to/sass" /> -->
        <!-- <server name="SPROCKETIZE_PATH" value="/path/to/sprocketize" /> -->
        <!-- <server name="COFFEE_PATH" value="/path/to/coffee" /> -->
    </php>

    <filter>
        <whitelist>
            <directory suffix=".php">./src/Assetic/</directory>
        </whitelist>
    </filter>
</phpunit>
