/** sprite: mysprite; sprite-image: url('../mysprite.png'); sprite-layout: vertical */
          
#foo {
  width: 17px; height: 17px;
  background-repeat: no-repeat;
  background-image: url(../home.gif); /** sprite-ref: mysprite; */
}

#bar {
  width: 17px; height: 17px;
  background-repeat: no-repeat;
  background-image: url(/home.png); /** sprite-ref: mysprite; */
}